/twitter4j.properties
*.mp3
*.part
*.webm
*.m4a
*.log
*.jpg
*.png
*.wav
*.mp4
/src/main/java/bromandudeguyphd/htmlparsing/PostingHTMLData.java
/src/images/
/src/songs/
/target/
/src/tagData/gifs/
/src/tagData/images/